body {
  margin: 0;
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.circle {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 50%;
  position: relative;
  margin: 10px;
  flex: 0 0 auto;
}

h3 {
  text-align: center;
}

.jhur1 {
  width: 10px;
  height: 30%;
  background: blue;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -5px;
}

.jmin1 {
  width: 10px;
  height: 40%;
  background: green;
  position: absolute;
  left: 50%;
  top: 15%;
  margin-left: -5px;
}

.jsec1 {
  width: 4px;
  height: 50%;
  background: red;
  position: absolute;
  left: 50%;
  top: 5%;
  margin-left: -2px;

}

.zsec1 {
  width: 300px;
  height: 300px;
  animation: js_move 60s linear infinite;
  position: absolute;
}

.zmin1 {
  width: 300px;
  height: 300px;
  animation: jm_move 3600s linear infinite;
  position: absolute;
}

.zhur1 {
  width: 300px;
  height: 300px;
  animation: jh_move 43200s linear infinite;
  position: absolute;
}

.jhur2 {
  width: 16px;
  height: 300px;
  background: url('mh.png');
  position: absolute;
  left: 50%;
  margin-left: -8px;
  animation: jh_move 43200s linear infinite;
}

.jmin2 {
  width: 16px;
  height: 300px;
  background: url('mm.png');
  position: absolute;
  left: 50%;
  margin-left: -8px;
  animation: jm_move 3600s linear infinite;
}

.jsec2 {
  width: 16px;
  height: 300px;
  background: url('ms.png');
  position: absolute;
  left: 50%;
  margin-left: -8px;
  animation: js_move 60s linear infinite;
}

.omin3 {
  animation: jm_move 3600s linear infinite;
  transform-origin: 50% calc(150px - 45px);
  /* transform-origin: 50% calc(100% / 0.8 - 45px); */
}

.ohur3 {
  animation: jh_move 43200s linear infinite;
  transform-origin: 50% calc(150px - 75px);
  /* transform-origin: 50% calc(100% / 0.6 - 75px); */
}

.osec3 {
  animation: js_move 60s linear infinite;
  transform-origin: 50% calc(150px - 15px);
  /* transform-origin: 50% calc(100% - 15px); */
}

.omin4 {
  transform-origin: 50% calc(100% / 0.8 - 45px);
}

.ohur4 {
  transform-origin: 50% calc(100% / 0.6 - 75px);
}

.osec4 {
  transform-origin: 50% calc(100% - 15px);
}