*,
*::after,
*::before {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

.head,h1{
  display: grid;
  place-items: center;
  background: rgb(248, 142, 142);
  padding: 0;
  margin: 0;
  font-size: 4rem;
  border-radius: 5px 5px 5px 5px;
}

/* table {
  border-collapse: collapse;
  cursor: pointer;
  user-select: none;
} */

body {
  background: linear-gradient(to right, #eefdb6, #c4aeff);
  display: grid;
  place-items: center;
  min-height: 60vh;
  overflow: hidden;
}

td {
  /* border: solid rgb(0, 0, 0) 1px; */
  margin: 0px;
  padding: 20px;
  text-align: center;
}

td:hover{
  color: blueviolet;
  background: transparent; /* 背景透明 */
}

.blank{
  cursor: default;
}

tr{
  margin: 0px;
}

.blank {
  border: 0px;
  background-color: transparent;
}

.alkali-metals {
  background: #ffe0b2;
}

.alkaline-earth-metals {
  background: #ffcc80;
}

.transition-metals {
  background: #d2c4e8;
}

.other-metals{
  background: #ffcdd2;
}

.other-nonmetals{
  background: #ffab91;
}

.halogens{
  background: #91da93
;
}

.noble-gases{
  background: #ffffff
;
}

.rare-earth-elements {
  background: #e6ee9b;
}

.actinoid-elements{
  background: #b3e5fc;
}

